@import "../../../../../css_config/style_global_variables.scss";

.menu-bg-primary {
  background: $black-12;
}
.menu-bg-secondary {
  background: $yellow-2;
}
.menu-primary {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: $gap-large-width; // 40px
  justify-content: space-between;
}
.menu-primary-itens {
  display: flex;
  gap: $gap-large-width; // 40px

  a {
    display: flex;
    align-items: center;
    position: relative;

    &::after {
      content: "";
      display: block;
      height: 0.125rem;
      width: 0;
      margin-top: 2rem;

      background: var(--cor-p2);
      transition: 0.3s;
      position: absolute;
    }
    &:hover::after {
      width: 100%;
    }
  }
  img {
    width: 1.5rem; //24px define o tamanho do ícone
    height: 1.5rem; // 24px
    margin-right: $margin-right-min-smallest-width; //8px
  }
}

.menu-secondary {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-transform: uppercase;
  gap: $gap-large-width; // 40px

  ul {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

.menu-secondary-items {
  display: flex;
  gap: 20px;
  margin-left: auto;
}
//

// //configurações para o nav
// .nav-menu {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 2.5rem; // 40px
//   text-transform: uppercase;

//   a {
//     display: inline-block;
//     padding: 1rem 0;

//     position: relative;

//     &::after {
//       content: "";
//       display: block;
//       height: 0.125rem;
//       width: 0;
//       margin-top: 0.25rem;
//       background: var(--cor-0);
//       transition: 0.3s;
//       position: absolute;
//     }
//     &::before {
//       display: inline-block;
//       content: "";
//       height: 16px;
//       width: 2px;
//       background: var(--cor-p5) no-repeat;
//       margin-left: 8px;
//       margin-right: 8px;
//     }
//     &:hover::after {
//       width: 100%;
//     }
//   }
// }

// // 800px
// @media (max-width: $large-screen-width) {
//   .nav-menu {
//     gap: 1.25rem; // 20px

//     a {
//       background: var(--cor-11);
//       padding: 0.75rem 1rem; // 12px 16px
//       border-radius: 0.25rem;

//       &:hover {
//         background: var(--c10);
//       }

//       &::after {
//         display: none;
//       }
//     }
//   }
// }

// // 400px
// @media (max-width: $small-screen-width) {
//   .nav-menu {
//     gap: $gap-med-min-width; // 12px
//     a {
//       background: $dark-gray-11;
//       padding: 0.5rem 0.75rem; // 8px 12px
//       border-radius: 0.25rem;
//       font-size: 0.875rem; // 14px
//     }
//   }
// }

// .nav-footer {
//   li {
//     margin-bottom: 1rem;
//   }
//   a:hover {
//     color: var(--cor-0);
//   }
// }
